@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Fredoka One";
  background-color: #f5821f;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subhead {
  font-size: 64px;
  color: #683817;
}

.head {
  font-size: 128px;
  color: #e11383;
}

@media only screen and (max-width: 600px) {
  .subhead {
    font-size: 24px;
  }

  .head {
    font-size: 64px;
  }
}