.App {
  height: 100vh;
  background-color: #f5821f;
}

.StatsPanel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subhead {
  color: #683817;
  font-family: Helvetica;
}

.head {
  font-family: Helvetica;
  font-size: 64px;
  color: #e11383;
}