.App {
  height: 100vh;
  background-color: #f5821f;
  font-family: Helvetica;
}

.StatsPanel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subhead {
  color: #683817;
}

.head {
  font-size: 86px;
  color: #e11383;
}

.StatsContainer {
  width: 30%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.StatBlock {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #683817;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StatName {
  color: #f5821f;
}

.StatNum {
  font-size: 50px;
  color: #e11383;
}